<!-- Start Content Page Box Area -->
<div class="content-page-box-area">
    <div class="page-banner-box bg-4">
        <h3>People You May Know</h3>
    </div>

    <div class="friends-inner-box-style d-flex justify-content-between align-items-center margin-top-25">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="friend-requests-tab" data-bs-toggle="tab" href="#friend-requests" role="tab" aria-controls="friend-requests">Friend Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="people-you-know-tab" data-bs-toggle="tab" href="#people-you-know" role="tab" aria-controls="people-you-know">People You Know</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="people-you-know-tab" data-bs-toggle="tab" aria-controls="people-you-know">People You May Know</a>
            </li>
        </ul>

        <div class="friends-search-box">
            <form>
                <input type="text" class="input-search" placeholder="Search friends...">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="friend-requests" role="tabpanel">
            <div class="row justify-content-center">
                @foreach (var user in ViewBag.Users)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-friends-card">
                            <div class="friends-image">
                                <a href="#">
                                    <img src="~/assets/images/friends/friends-bg-1.jpg" alt="image">
                                </a>
                                <div class="icon">
                                    <a href="#"><i class="flaticon-user"></i></a>
                                </div>
                            </div>
                            <div class="friends-content">
                                <div class="friends-info d-flex justify-content-between align-items-center">
                                    <a href="#">
                                        <img src="~/assets/images/user/@user.ImageUrl" alt="image">
                                    </a>
                                    <div class="text ms-3">
                                        <h3><a href="#">@user.Username</a></h3>
                                        <span>10 Mutual Friends</span>
                                    </div>
                                </div>
                                <ul class="statistics">
                                    <li>
                                        <a href="#">
                                            <span class="item-number">862</span>
                                            <span class="item-text">Likes</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="item-number">91</span>
                                            <span class="item-text">Following</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="item-number">514</span>
                                            <span class="item-text">Followers</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="button-group d-flex justify-content-between align-items-center">
                                    @if (user.IsFriend)
                                    {
                                        <div class="add-friend-btn">
                                            <button type="button" style="background-color: blue; color: white;">Friend</button>
                                        </div>
                                       <form method="post" action="@Url.Action("UnFollow", "Profile", new { id = user.Id })">
                                            <button type="submit" style="background-color: red; color: white;">UnFollow</button>
                                        </form>
                                    }
                                    else if (user.IsPending)
                                    {
                                        <form method="post" action="@Url.Action("AcceptRequest", "Profile", new { id = user.Id })">
                                            <button id="acceptButton" style="background-color: green; color: white;" type="submit" onclick="hideButtons()">Accept</button>
                                        </form>

                                        <form method="post" action="@Url.Action("DeleteRequest", "Profile", new { id = user.Id })">
                                            <button id="declineButton" style="background-color: red; color: white;" type="submit" onclick="hideButtons()">Delete</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <div class="add-friend-btn">
                                            <button type="submit" onclick="sendFriendRequest('@user.Id', event)" @(user.IsButtonDisabled ? "disabled" : "")>@user.Status</button>
                                        </div>
                                    }
                                    <div class="send-message-btn">
                                        <button type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="load-more-posts-btn">
                <a href="#"><i class="flaticon-loading"></i> Load More</a>
            </div>
        </div>
    </div>
</div>
<!-- End Content Page Box Area -->
